.editor-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.title {
  width: 700px;
  height: 70px;
}

.my-table {
  border: 3px solid black;
  width: 700px;
  height: 500px;
}

.my-table td {
  width: 300px;
  text-align: right;
  /* 이름, 핸드폰번호, 아이디, 비밀번호 우측 정렬 */
  font-size: 22pt;
}

.my-table td:nth-child(2) {
  text-align: left;
  /* 각 정보 좌측 정렬 */
}

.my-table input[type="text"] {
  width: 200px;
  /* 입력 필드 너비 */
  height: 40px;
  /* 입력 필드 높이 */
}

.button-container button {
  font-size: 18pt;
  /* 버튼 폰트 크기 */
}

.button-container .right-align {
  text-align: right;
  /* 수정 버튼 우측 정렬 */
}

.button-container .left-align {
  text-align: left;
  /* 탈퇴 버튼 좌측 정렬 */
}